<!-- This file is a custom directive. -->
<!-- This is another view that is the template for the directive. It's implementing the same way as views from other portions of the application. -->
<ul ng-show="ctrl.signedIn()" class="nav navbar-nav">
	<li><a ui-sref="define">Define a New Workout Type</a></li>
	<li><a ui-sref="logs">Log a Workout</a></li>
	<li><a ui-sref="history">Workout History</a></li>
</ul>
<div class="container">
	<ul class="nav navbar-nav navbar-right">
		<li ng-show="ctrl.signedIn()">
			<a href="#" ng-click="ctrl.logout()">Sign out - {{ ctrl.user().username }}</a>
		</li>
	</ul>
</div>
